.avantages {
  display: grid;
  margin-bottom: 42px;
  padding-left: 20px;
  padding-right: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 47px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 11px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.avantages__heading {
  margin: 0;
  margin-bottom: 38px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;

    text-align: left;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    padding-left: 30px;
  }
}

.avantages__list {
  display: grid;
  .reset-list();

  @media (min-width: @mobile-width) {
    justify-content: center;
    row-gap: 20px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 246px);
    justify-content: space-evenly;
    column-gap: 153px;
    row-gap: 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    column-gap: 94px;
  }
}

.avantages__item {
  width: 279px;
  height: 60px;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    width: 230px;
    height: 280px;
  }

  @media (min-width: @desktop-width) {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
}

.avantages_description {
  margin: 0;
  padding: 0;
}
