.generic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 10px;

  background-color: @basic-green;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  color: @basic-white;
}
