.products {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 68px;
    padding-right: 29px;
    padding-left: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 75px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.page-main__header {
  margin-bottom: 41px;
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 19px;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    margin-bottom: 91px;
    padding-right: 30px;
    padding-left: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 85px;
    padding-right: 110px;
    padding-left: 110px;
  }
}

.products__list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  flex-grow: 1;
  .reset-list();

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 67px;
    column-gap: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 64px;
    column-gap: 80px;
  }
}

.products__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 19px;
  border-top: 1px solid @border-grey-light;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    padding-top: 235px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 39px;
    background-image: linear-gradient(@basic-white 20%, @grey-dark 0);
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    padding-right: 38px;
    padding-left: 39px;
  }
}

.products__image {
  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    width: 324px;
    height: auto;
    bottom: 310px;
  }
}

.product__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;

  @media (min-width: @tablet-width) {
    justify-content: center;
    width: 100%;
    margin-bottom: 33px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.products__heading {
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 154px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    line-height: 21px;
  }
}

.products__characteristic {
  width: 100%;
}

.characteristic-table__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @grey-darker;
  }
}

.characteristic-table__cell {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "PT Sans Narrow", sans-serif;
  color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 7px;
    padding-left: 0;
    font-size: 16px;
  }
}

.products__button {
  grid-column: span 2;
  width: 280px;
  height: 40px;
  padding-top: 10px;
  padding-right: 109px;
  padding-bottom: 10px;
  padding-left: 109px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-align: center;
  color: @basic-white;
  text-transform: uppercase;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    width: 248px;
    height: 39px;
    padding-top: 9px;
    padding-right: 93px;
    padding-bottom: 9px;
    padding-left: 93px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    height: 40px;
    padding-top: 9px;
    padding-right: 93px;
    padding-bottom: 9px;
    padding-left: 93px;
  }
}

.catalog__all {
  border-bottom: 1px solid @border-grey-light;

  @media (min-width: @tablet-width) {
    margin-top: 100px;
    padding-top: 51px;
    padding-right: 37px;
    padding-bottom: 38px;
    padding-left: 38px;
    background-image: initial;
    outline: 2px solid @grey-dark;
    border-bottom: none;
  }
}

.icon-plus {
  grid-column: span 2;
  fill: @grey-darkest;
  margin-top: 26px;
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 0;
    margin-bottom: 49px;
  }
}

.products__heading--all {
  grid-column: span 2;
  width: auto;
  margin-bottom: 8px;
  color: @black-lightest;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
  }
}

.products__text--all {
  grid-column: span 2;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @basic-grey;

  @media (min-width: @tablet-width) {
    width: 168px;
    margin-top: 0;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
  }
}

.products-button--all {
  height: auto;
  padding-top: 10px;
  padding-right: 90px;
  padding-bottom: 10px;
  padding-left: 90px;
  color: @basic-grey;
  background-color: @grey-dark;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-right: 70px;
    padding-bottom: 10px;
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}
