.form__text {
  margin: 0 auto;
  margin-bottom: 39px;
  padding-right: 20px;
  padding-left: 20px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.form__list-wrapper {
  display: grid;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    margin-bottom: 69px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-grey;

  .reset-list();
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-cat-data {
  margin-bottom: 48px;
  padding-left: 19px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 72px;
    padding-left: 71px;
    padding-right: 67px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
  }
}

.form-cat-data .form__item:last-child {
  @media (min-width: @tablet-width) {
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__item {
  display: flex;
  margin-bottom: 13px;
  align-items: center;

  color: #444444;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.form__label {
  margin-right: 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--email,
.form__label--phone {
  @media (min-width: @tablet-width) {
    margin-right: 15px;
  }
}

.form__input-text {
  flex-grow: 1;
  padding: 7px 10px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-grey;

  @media (min-width: @tablet-width) {
    padding: 10px 14px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;

  border: none;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 15px;
    right: 0;
    height: 2px;
    background-color: #68b738;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      top: 23px;
      right: 0;
      height: 2px;
      background-color: #68b738;
      z-index: -1;
    }
  }

  @media (min-width: @desktop-width) {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      top: 24px;
      right: 0;
      height: 2px;
      background-color: #68b738;
      z-index: -1;
    }
  }
}


.form__legend {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  background-color: white;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__fieldset--owner {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 47px;
  }
}

.form__legend--owner {
  margin-right: 99px;
  margin-bottom: 32px;
  padding-left: 19px;
  padding-right: 15px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-bottom: 76px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__fieldset--owner .form__item {
  flex-grow: 1;
}

.form__list--contacts {
  padding-left: 19px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 65px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 40px;
    margin-right: 45px;
  }
}

.form__input-text--email {
  background-image: url("../img/icon-mail.svg");
  background-repeat: no-repeat;
  background-position: center right 15px;
  background-size: 18px 13px;
}

.form__input-text--phone {
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;
  background-size: 20px 20px;
}

.form__legend--comments {
  padding-left: 19px;
  padding-right: 22px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-bottom: 76px;
    padding-left: 39px;
    padding-right: 42px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__textarea {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 13px;
  padding-right: 12px;
  padding-left: 19px;
  padding-bottom: 13px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @basic-grey;
  text-transform: uppercase;

  resize: none;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-right: 67px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.form__list-border-wrapper {
  margin-bottom: 28px;
  padding: 0;

  border: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 71px;
    margin-right: 68px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__list--mass {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 28px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 28px;
    padding-bottom: 30px;
  }
}

.form__list--mass .form__item {
  @media (min-width: @desktop-width) {
    margin-bottom: 23px;
  }
}

.form__list--mass .form__item:nth-child(3) {
  margin: 0;
}

.form__list--mass .form__label--radio {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
  margin-bottom: 19px;
  padding-left: 50px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
  }

  &:hover::before {
    border-color: #bababa;
    border-width: 5px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__input-radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 8px;
  background-color: #68b738;
  border-radius: 50%;
}


.form__fieldset--comments {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 67px;
  }
}

.form__fieldset--additional {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.form__legend--additional {
  padding-left: 19px;
  padding-right: 24px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
    margin-bottom: 57px;
    padding-left: 40px;
    padding-right: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.form__list--additional {
  display: grid;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    margin-left: 40px;
    margin-right: 40px;
  }
}

.form__label--checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 10px;
  margin-bottom: 19px;
  padding-left: 50px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    border: 1px solid #cdcdcd;
  }

  &:hover::before {
    border-color: #bababa;
    border-width: 5px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 100%;
  height: 100%;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

.form__fieldset-button-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    margin-bottom: 72px;
    padding-left: 70px;
    padding-right: 68px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 81px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form__button {
  margin-bottom: 21px;
  padding: 14px 44px;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: @basic-green;
  border: none;

  @media (min-width: @tablet-width) {
    min-width: 282px;
    margin: 0;
    margin-right: 68px;
    padding: 14px 45px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: 568px;
    margin-right: 81px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.form__required-notify {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}
