.products {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  margin: 0 auto;
}

.products__list {
  .reset-list();

  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 20px;

  flex-grow: 1;
  max-width: 1220px;

  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 64px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 75px;
  }
}

.products__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  @media (min-width: @mobile-width) {
    padding: 11px 19px 14px 20px;
  }

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    padding: 8px 36px 40px 36px;
    background-image: linear-gradient(#ffffff 20%, @darkgrey 0%);
  }

  @media (min-width: @desktop-width) {
    padding: 10px 35px 40px 30px;
    background-image: linear-gradient(#ffffff 20%, @darkgrey 0%);
  }
}

.products__image {
  @media (min-width: @tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 46px;
  }
}

.product__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (min-width: @tablet-width) {
    justify-content: center;
    margin-bottom: 33px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

.products__heading {
  text-align: center;
  width: 76px;
  margin: 0;
  margin-bottom: 18px;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 154px;
    margin-bottom: 21px;

    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 145px;
    line-height: 21px;
  }
}

.products__characteristic {
  width: 100%;
}

.characteristic-table__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  font-family: "Arial", "PT Sans Narrow", sans-serif;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @darkergrey;
  }
}

.characteristic-table__cell {
  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 8px 0 7px;
  }
}

.products__button {
  margin: 0;
  margin-top: 13px;
  background-color: @basic-green;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-white;

  @media (min-width: @mobile-width) {
    grid-column: span 2;
    width: 280px;
    height: 40px;
    padding: 10px 109px;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    grid-column: span 1;
    width: 248px;
    height: 39px;
    padding: 9px 93px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 168px;
    height: 40px;
    padding: 10px 33px;
  }
}
