.sample {
  background-color: @grey-lighter;

  @media (min-width: @tablet-width) {
    position: relative;
    background-color: @basic-white;
    border-top: 1px solid @border-grey;
    // &::before {
    //   content: "";
    //   width: 100%;
    //   height: 2px;
    //   background-color: red;
    //   position: absolute;
    //   top: 0;
    // }
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(@basic-white 30%, @grey-lighter 0%);
    border: none;
  }
}

.sample__wrapper {
  display: grid;
  justify-items: center;

  @media (min-width: @mobile-width) {
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.sample__info {
  @media (min-width: @mobile-width) {
    padding-left: 20px;
    padding-right: 21px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
    padding-right: 134px;
  }
}

.sample__heading {
  margin: 0 auto;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  color: @basic-black;

  @media (min-width: @mobile-width) {
    margin-bottom: 33px;
    padding-top: 27px;

    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 146px;
  }
}

.sample__description {
  margin: 0 auto;
  padding: 0;
  text-align: left;

  @media (min-width: @mobile-width) {
    width: 279px;
    margin-bottom: 25px;

    font-size: 14px;
    line-height: 18px;
  }

  @media (min-width: @tablet-width) {
    width: 700px;
    margin-bottom: 54px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-left: 0;
    margin-bottom: 69px;

    font-size: 16px;
    line-height: 24px;
  }
}

.sample__sample-price-wrapper {
  display: flex;
  flex-wrap: wrap;


  @media (min-width: @mobile-width) {
    justify-content: center;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.sample__list {
  display: flex;
  margin: 0;
  padding-left: 0;

  @media (min-width: @mobile-width) {
    column-gap: 31px;
    margin-bottom: 26px;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.sample-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid @grey-darker;
  border-radius: 2px;
  text-align: center;

  @media (min-width: @mobile-width) {
    width: 124px;
    height: 64px;
  }

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 77px;
  }

  @media (min-width: @desktop-width) {
    width: 162px;
    height: 77px;
  }
}

.sample-item__value {
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  color: black;

  @media (min-width: @mobile-width) {
    margin-top: 14px;

    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: @tablet-width) {
    margin-top: 20px;

    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.sample-item__title {
  margin: 0;
  padding: 0;

  color: @basic-grey;
  background-color: @grey-lighter;

  @media (min-width: @mobile-width) {
    width: 57px;
    margin-top: 14px;

    font-size: 12px;
    line-height: 12px;
  }

  @media (min-width: @tablet-width) {
    width: 140px;

    background-color: @basic-white;
    line-height: 14px;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-lighter;
    font-size: 14px;
    line-height: 14px;
  }
}

.sample__sample-data {
  @media (min-width: @desktop-width) {
    width: 162px;
    height: 77px;
    border: 1px solid red;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.sample__sale {
  text-align: center;
  margin: 0;
  margin-bottom: 42px;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: @basic-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 174px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.sample__sale--value {
  @media (min-width: @desktop-width) {

    margin-left: 63px;
  }
}

.sample__slider {
  @media (min-width: @tablet-width) {
    text-align: center;
    background-image: linear-gradient(@basic-white 30%, @grey-lighter 0%);
  }
}
