.page-header {



  @media (min-width: @mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    flex-direction: row;
  }
}

.menu-nav {
  align-items: center;
  font-family: "Oswald";
  font-weight: 500;

  @media (min-width: @mobile-width-only) {
  }
}

.page-header__logo-icon {
  height: 38px;

  @media (min-width: @tablet-width) {
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.menu-nav__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    width: 440px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    width: 478px;
  }
}

.menu-nav__menu {
  justify-content: center;
  margin: 0;
  padding: 0;

  @media (min-width: @mobile-width-only) {
    flex-direction: column;
    justify-content: center;
  }
}

.menu-nav__item {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 21px;

  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {

    font-size: 20px;
    line-height: 20px;

    border-bottom: 1px solid @lightgrey;
  }

  @media (min-width: @desktop-width) {
    color: @basic-white;
  }
}

.menu-nav__link--home {
  @media (min-width: @mobile-width-only) {
    padding-left: 122px;
    padding-right: 122px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    list-style: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15px;
    padding-right: 15px;

    line-height: 30px;

  }
}

.menu-nav__link--catalog {

  @media (min-width: @mobile-width-only) {
    padding-left: 69px;
    padding-right: 70px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 15px;
    padding-right: 15px;

    font-size: 18px;
    list-style: 24px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15px;
    padding-right: 15px;

    line-height: 30px;

  }
}

.menu-nav__link--form {
  @media (min-width: @mobile-width-only) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 15px;
    padding-right: 110px;
  }
}
