// Viewports
@mobile-width-only: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;


// Начните писать стили здесь
@import "normalize.less";
@import "utils.less";
@import "fonts.less";
@import "visually-hidden.less";
@import "variables.less";
@import "generic-button.less";
@import "page-header.less";
@import "menu-nav.less";
@import "hero.less";
@import "round.less";
@import "services.less";
@import "avantages.less";
@import "sample";
@import "contacts.less";
@import "map.less";
@import "page-footer.less";
