// SIZES
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;

// COLORS
@basic-white: #ffffff;
@basic-black: #000000;
@basic-grey: #444444;
@basic-green: #68b738;

@grey-lightest: #d9d9d9;
@grey-lighter: #eaeaea;
@grey-light: #e6e6e6;
@grey-dark: #f2f2f2;
@grey-darker: #cdcdcd;
@grey-darkest: #d3d3d3;
@form-grey: #222222;

@black-lightest: #111111;

@border-grey-light-opasity: rgba(0, 0, 0, 0.24);
@border-grey-light-opasity-active: rgba(0, 0, 0, 0.4);
@border-grey-light: #ebebeb;
@border-grey: #ededed;
@border-grey-dark-opasity: #dcdcdc;
@border-grey-dark: #bababa;

@svg-basic-grey: #666666;

@border-grey-box-shadow: rgba(0, 0, 0, 0.16);
@border-grey-box-shadow-hover: rgba(0, 0, 0, 0.19);
@border-grey-box-shadow-active: rgba(0, 0, 0, 0.2);
@border-error: #FF8282;
