@basic-white: #ffffff;
@basic-black: #000000;
@basic-grey: #444444;
@basic-green: #68B738;
@lightergrey: #EAEAEA;
@lighrsgrey: #D9D9D9;
@lightgrey: #E6E6E6;
@darkgrey: #F2F2F2;
@darkergrey: #CDCDCD;
@lightestblack: #111111;
